body {
  background-image: linear-gradient(to bottom, #0c162b, #050d1e);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#head {
  color: whitesmoke;
  text-align: center;
}

#editor_id {
  top: 10px;
  background-color: #e2e2e0;
  height: 80vh;
  width: 45vw;
  border-radius: 10px;
  position: relative;
  left: 1vw;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  float: left;
}
#output_id {
  display: flex;
  top: 10px;
  overflow-y: auto;
  background-color: #e2e2e0;
  position: relative;
  right: 30px;
  border-radius: 10px;
  height: 80vh;
  width: 45vw;
  padding: 20px;
  float: right;

}

textarea {
  resize: none;
  position: relative;
  top: 0px;
  background-color: #e2e2e0;
  height: 80vh;
  width: 45vw;
  border: none;
}
#editor_id {
  left: 30px;
}

pre {
  white-space: pre-wrap; word-break: keep-all;
 }